body {
    background-color: rgb(113, 182, 113);
    background-repeat: no-repeat;
    background-size: cover;
    font-style:oblique;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(42, 90, 56);
    border-radius: 1px;
    background-color:rgb(42, 90, 56) ;
}

h1 {
    color: rgb(237, 243, 239);
    font-size: 100px;    
}
h2 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(113, 182, 113);
    border-radius: 1px;
    font-size: 50px;
}

.valikud {
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pilt {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.nimed {
    font-size: 50px;
    font-style:initial;
    color: black;
    display: inline-block;
    font-weight: bold;
    
}

a{
    text-decoration: none;
}