body {
    background-color: rgb(113, 182, 113);
    background-repeat: no-repeat;
    background-size: cover;
    font-style:oblique;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(42, 90, 56);
    border-radius: 1px;
    background-color:rgb(42, 90, 56) ;
}

h1 {
    color: rgb(237, 243, 239);
    font-size: 100px;    
}
h2 {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(113, 182, 113);
    border-radius: 1px;
    font-size: 50px;
}

.valikud {
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .valikud {
    flex-direction: column;
  }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pilt {
    height: 300px;
    max-height: 100%;
    width: 300px;
    max-width: 100%;
    border-radius: 50%;
}

.nimed {
    font-size: 50px;
    font-style:initial;
    color: black;
    display: inline-block;
    font-weight: bold;
    
}

a{
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100px;
    border: 1px solid rgb(42, 90, 56);
    background-color:rgb(42, 90, 56) ;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
.shake {
    display:inline-block
}