h1 {
    margin-top: 50px;
    text-align: center;
    color:rgb(100, 148, 237);
    font-size: 150px;
    font: weight 1000px;
}

body {
    background-color:rgb(141, 174, 235);
    font-style:oblique;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(141, 174, 235);
    border-radius: 1px;
    background-color:rgb(141, 174, 235);
}