body {
    background-image: url("pildid/mtaus.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300vh;
    background-color: #3c412afa;
}
h1 {
    margin-top: 100px;
    text-align: center;
    color: rgba(13, 80, 13, 0.87);
    font-size: 175px;
    font-style:oblique;
    font: weight 1000px;
}
.algus {
    text-align: center;
    color: #e3c8a6;
    font-size: 50px;
}
.pilt {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.column {
    float: left;
    width: 50%;
}
.pilt2 {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.taust {
    display: flex;
    justify-content:center;
    background-color:rgba(61, 114, 50, 0.452);
}
.taust2 {
    display: flex;
    justify-content:center;
    background-color:#44a8419a;
}
.lustakas {
    color: rgb(255, 41, 173);
    font-weight: bold;
}

.särtsakas {
    color: rgb(250, 226, 8);
    font-weight: bold;
}
.Fun-facts {
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    color: #eed9be;
}
.facts {
    text-align:center;
    font-size: 21px;
    color: #eed9be;
}
.kes {
    text-align:center;
    font-size: 40px;
    color: #e3c8a6;
}
.vastused {
    text-align:center;
    font-size: 20px;
    color: #e3c8a6;
}
.video {
    display:block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}